{
  read_solute_structure {{prepared_mae}}
  # solute file name
  solvent_desmond_oplsaa_typer {
    input_file_name spc.box.mae
    run
  }
  positive_ion_desmond_oplsaa_typer {
    input_file_name Na.mae
    run
  }
  negative_ion_desmond_oplsaa_typer {
    input_file_name Cl.mae
    run
  }
  membranize POPE.mae.gz 10.000000 10.000000
  create_boundary_conditions orthorhombic 0.000000 0.000000 10.000000
  set_oplsaa_version 2005
  solvate
  neutralize
  write_maeff_file {{prepared_cms}}
}
